.gallery { 
	width:100%; 
	float:left; 
	
}
.gallery ul{ 
	margin:0;
	padding:0; 
	list-style-type:none;
	
}
.gallery ul li{ 
	padding:7px; 
	border:0px solid #ccc;
	float:left;
	margin:10px 50px 20px 60px;
	width:auto; 
	height:auto;
	color:#FFE4B5;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align:justify;
  font-size:20px;
}
.images {
	width:250px;
	height:375px;
}